{
    "plugins": [
        [
            "transform-inline-environment-variables",
            {
                "exclude": [
                    "HOSTNAME",
                    "NODE_VERSION"
                ]
            }
        ]
    ]
}
