# node modules
node_modules
**/node_modules
npm-debug.log

**/.git
**/.DS_Store

# docker files
.dockerignore
Dockerfile
docker-compose.yml

# config and documentation
.vscode
CHANGELOG.md
README.md
LICENSE.md

# pipeline and cicd
**/deploy
azure-pipelines.yml

# artifacts
**/dist
**/build
**/coverage
**/__coverage__

.eslintignore
.eslintcache
.gitignore
.prettierrc.json
